<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Meal Manager</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<style>
    body    { 
    padding:50px;
    }
    

    
</style>