 <!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
 
<!DOCTYPE html>
<html lang="en-US">
<head>
	<% include head %>
    <% include css/common_css %>
    <% include css/admin_css %>

<script type="text/javascript">
        function validate()
        {
            userid  = document.getElementById("userid").value;
            pwd = document.getElementById("pwd").value;
           
            errors = "";
    
            if (userid == "") {
                errors += "Missing Userid.\n";
			} 
			
            if (pwd == "") {
                errors += "Missing Password.\n";
            } 
          
    
			if (errors != "") 
			{
              alert(errors);
            }
			else
			{
                document.customerlogin.submit();
            }
           
        }
  
    </script>
</head>

<body>
<header>
    <% include clogoutheader %>
</header>

    <form name="customerlogin" id="customerlogin" method="post" action="/customerhome">
		
		<div id = 'id5'>
			<p>
			
				
			
			<center> <h1 id='id3'>Customer Login</h1></center><br>
						
			<center >

			
			<p>
				<label for="userid">EMAIL_ID*:</label> <input id="userid" 
					name="userid" type="text"  class="required"  title="USERID" >

			</p>
			
			<p>
				<label for="pwd">PASSWORD*:</label> <input id="pwd" name="pwd" 
					type="password" class="required" title="pwd">

			</p>
			
		
			<p>
				<center><b>	<button type="button"  onclick="validate()" id ='buttonid'> Submit</button></b></center>
				</p>
				</p>
		</div>
	</center>
	
	</form>
    

</body>
</html>