<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
<!-- views/partials/header.ejs -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        
            <div class="navbar-header">
                <a class="navbar-brand" href="#">                
                    <span class="fas fa-hamburger" style='font-size:20px;color:red'></span>
                    Meal Manager
                </a>
                
        
                <ul class="nav navbar-nav">
                    <li><a href="dieticianlogin">Login</a></li>
                    <li><a href="/">Application Home</a></li>
                    
                </ul>
            </div>
        
        </div>
        </nav>
 