<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
<!-- views/partials/header.ejs -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        
            <div class="navbar-header">
                <a class="navbar-brand" href="#">                
                    <span class="fas fa-hamburger" style='font-size:20px;color:red'></span>
                    Meal Manager
                </a>
        
                 <ul class="nav navbar-nav">
					<li><a href="d_home">Home</a></li>
                    <li><a href="d_view_current_customers">View Current Customers</a></li>
                    <li><a href="d_new_diet_plan_requests">New Diet Plan Requests</a></li>
                    <li><a href="d_update_diet_plan_requests">Update Diet Plan Requests</a></li>
                    <li><a href="d_logout">Logout</a></li>
                    
                              
               
                    
               
                </ul>
            </div>
        
        </div>
        </nav>
 