<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->

<!DOCTYPE html>
<html lang="en-US">
<head>   
        <% include head %>
        <% include css/common_css %>
        <% include css/dieticianOption_css %>
 </head>
    <body>
        <header>
            <% include header_dieticianOption %>
        </header>
        <p>
            <h1 id="welcome">Make your choice!</h1>
        </p>
        <div id='id1'>
            <form name="dieticianyes" id="dieticianyes" method="get" action="/dieticianyes">   
                <center>
                <button class="buttonid1"> <b>YES, I will get enrolled with a Dietician</b> </button>
                </center>
            </form>


            <form name="dieticianno" id="dieticianno" method="get" action="/dieticianno">   
                <center>
                <button class="buttonid1"> <b>NO, I will not get enrolled with a Dietician</b> </button>
                </center>
            </form>
        </div>
    </body>
</html>