<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
<!DOCTYPE html>
<head>
        <% include head %>
       
        
         <% include css/customer_format %>
        
    </head>

  <body>
        <header>
            <% include noheader %>
            </header>

            <div class="information_message"> <h3>***************** 404 Error.Sorry its not you.... its us....Please Try Again......****************</h3></div>
            
  

  </body>
  

</html>