 <!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->

<!DOCTYPE html>
<html lang="en-US">
<head>
    <% include head %>
   
    
    

    

</head>
<header>
    
</header>
<body>
<%= message %>     
</body>
</html>