<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
<!DOCTYPE html>
<html>
    <head>
            <% include head %>
            <% include css/common_css %>
            
    </head>
    <body>
        <header>
            <% include header_dieticianOption %>
        </header>
        
        <div class="information_message"> 
          <h3>Payment Successful! Thank You!</h3>
        </div>
        <br><br>
        
    </body>
</html>




  