<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
<html>
    <head>
            <% include head %>
            <% include css/common_css %>
     
    </head>
    <body>
        <header>
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                        <div class="container-fluid">                       
                            <div class="navbar-header">
                                <a class="navbar-brand" href="#">                
                                    <span class="fas fa-hamburger" style='font-size:20px;color:red'></span>
                                    Meal Manager
                                </a>
                                <ul class="nav navbar-nav">
                                    <li><a href="adminhome">Admin Home</a></li>
                                </ul>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                    <li><a href="adminlogout"><span class="glyphicon glyphicon-user"></span> Log Out</a></li>
                            </ul>
                        
                        </div>
                        </nav>
        </header>
        <div class="information_message"> 
                <h3>Registration Successful!</h3>
        </div>
    </body>
</html>