<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
<html>
    <head>
        <% include head %>
        <% include css/common_css %>
        <% include header_admin %>
        
    </head>
<body>
   <p>This Email ID already exists. Please select a different email ID</p>
</body>
</html>