<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
<!-- views/partials/header.ejs -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        
            <div class="navbar-header">
                <a class="navbar-brand" href="#">                
                    <span class="fas fa-hamburger" style='font-size:20px;color:yellow'></span>
                    Meal Manager
                </a>
        
                 <ul class="nav navbar-nav">
               
					<li><a href="r_home">Home</a></li>
                    <li><a href="r_view_menu">View Menu</a></li>
                    <li><a href="r_add_menu_items_form">Add Menu</a></li>
                    <li><a href="r_update_menu">Update/Delete Menu</a></li>
                    <li><a href="r_view_todays_orders">View Today's Orders</a></li>
                    <li><a href="r_view_tomos_orders">View Tomorrow's Orders</a></li>
                    <li><a href="r_view_report">View Report</a></li>

                    <li><a href="r_logout">Logout</a></li>
                    
                    
               
                </ul>
            </div>
        
        </div>
        </nav>
 