<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
<!DOCTYPE html>
<head>
        <% include head %>
       
        
         <% include css/customer_format %>
        
    </head>

  <body>
        <header>
          <% include header_dieticianOption %>
            </header>

            <div class="information_message"> <h3> Sorry....Your Meal Plan Start Date is not tomorrow. Please Login the day before your start date.</h3></div>
            

  </body>
  

</html>