<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
<!DOCTYPE html>
<head>
        <% include head %>
       
        
         <% include css/customer_format %>
        
    </head>

  <body>
        <header>
            <% include customerheader %>
            </header>

            <div class="information_message"> <h3> Updated Succesfully..... </h3></div>
            
            <form action="/customerhome">
              <input type="submit" class = "single_button" value="Customer Home " />
          </form>

  </body>
  

</html>