<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
<!DOCTYPE html>
<head>
        <% include head %>
       
        
         <% include css/customer_format %>
        
    </head>

  <body>
        <header>
            <% include restaurant_loggedin_header %>
            </header>

            <div class="information_message"> <h3> Updated Succesfully..... </h3></div>
  </body>
  

</html>