<!-- “SJSU CMPE 226 Spring 2019 TEAM2” -->
<!DOCTYPE html>
<html>
    <head>
            <% include head %>
            <% include css/common_css %>
    </head>
    <body>
        <header>
                <% include header_dieticianOption %>
        </header>
        <div class='information_message'>
        <h3>Payment Successful ! Thank You !</h3>

        <h5>Your meal plan will be ready in the next two days.</h5>
        </div>
        
    </body>
</html>